<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Order your burger</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script src="js/js_script.js" defer></script>
      <script src="js/vue_script.js" defer></script>
      <script src="https://vuejs.org/js/vue.js"></script>
  </head>
  
    <body>      
      <main>
        
        <header>
          <h1 id="head_text">Welcome to BurgerOnline</h1>
        <img src="https://www.gallerian.se/contentassets/667a269d11524a339d2153c2274a16e3/bastard-burgers-header.jpg?preset=16x8-1200&version=63697923645"
             alt="Header" title="Header" id="header_pic">
        </header>
        
        <section id="select_burger">          
          <h2>Select burger</h2>
          <p>This is where you execute burger selection</p>
          <!--
          <div id = "table_wrapper" class = "table_wrapper"></div>
          -->
          
          <div id = "burgers" class = "table_wrapper">
            <div v-for="(x, index) in menu">
              <h4> {{ x.name }}</h4>
              <img :src="x.image" width="250" height="175">
              <ul>
                <li> {{ x.kcal }} </li>
                <li> {{ x.desc1 }} </li>
                <li> {{ x.desc2 }} </li>
              </ul>
            </div>
          </div>
          
        </section>
        
        <section id="customer_information">
          <h2>Customer information</h2>
          <p>This is where you provide necessary information</p>
          <h3>Delivery information</h3>
          <form>
            <p>            
              <label for="fullname">Full name</label><br />
              <input type ="text" id="fullname" name="name"
                     required="required" placeholder="First- and Last name">
            </p>
            <p>
              <label for="email">E-mail</label><br />
              <input type ="text" id="email" name="email"
                     required="required" placeholder="E-mail adress">
            </p>
            <p>
              <label for="street">Street</label><br />
              <input type ="text" id="street" name="street"
                     required="required" placeholder="Street name">
            </p>
            <p>
              <label for="house">House</label><br />
              <input type ="text" id="house" name="house"
                     required="required" placeholder="House number">
            </p>
            <p>
              <label for="recipient"> Payment option</label><br />
              <select id="recipient" name="rcp">
                <option selected="selected">Credit card</option>
                <option>Bitcoin</option>
                <option>Cash</option>
                <option>Monopoly money</option>
              </select>
            </p>
            <p>            
              <label for="gender">Gender</label><br />
              <input checked="checked" type="radio" name="gender" value="male"
                     required="required"> Male<br />
              <input type="radio" name="gender" value="female"> Female<br />
              <input type="radio" name="gender" value="none"> Do not wish to provide<br />            
            </p>            
          </form>
          <button type"submit">Send Info</button>
          </button>
        </section>
      </main>
      <footer>
        <hr>
        &copy 2020 Burgers Inc
      </footer>
    </body>
</html>
