<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Order your burger</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="css/deli-very.css">
      <script type="text/javascript" src="js/menu.js"></script>.
      <script src="/socket.io/socket.io.js" defer></script>
      <script src="js/js_script.js" defer></script>
      <script src="js/vue_script.js" defer></script>
      <script src="https://vuejs.org/js/vue.js"></script>
  </head>
  
    <body>      
      <main id="site">        
        <header>
          <h1 id="head_text">Welcome to BurgerOnline</h1>
        <img src="https://www.gallerian.se/contentassets/667a269d11524a339d2153c2274a16e3/bastard-burgers-header.jpg?preset=16x8-1200&version=63697923645"
             alt="Header" title="Header" id="header_pic">
        </header>
        
        <section id="select_burger">          
          <h2>Select burger</h2>
          <p>This is where you execute burger selection</p>

          <!--
          <div id = "table_wrapper" class = "table_wrapper"></div>
          -->
          
          <div id="burgers" class="table_wrapper">
            <div v-for="(x, index) in food">
              <h4> {{ x.name }}</h4>
              <input type="checkbox" :value="x.name" :id="x.name" v-model="checkedBurgers">
              <br />
              <img :src="x.image" width="250" height="175">
              <ul>
                <li> {{ x.kcal }} kCal</li>
                <li> {{ x.desc1 }} </li>
                <li> {{ x.desc2 }} </li>
              </ul>
            </div>
          </div>
        </section>
        
        <section id="customer_information">
          <h2>Customer information</h2>
          <p>This is where you provide necessary information</p>
          <h3>Delivery information</h3>
          <div id="form">
            <form>
              <p>
                <label for="fullname">Full name</label><br />
                <input v-model="fullname" required="required"
                       placeholder="First- and Last name">
              </p>
              <p>
                <label for="email">E-mail</label><br />
                <input v-model="email" required="required"
                       placeholder="E-mail adress">
              </p>
              <p>
                <label for="recipient"> Payment option</label><br />
                <select v-model="recipient" id="recipient">
                  <option disabled value="">Please select one</option>
                  <option>Credit card</option>
                  <option>Bitcoin</option>
                  <option>Cash</option>
                  <option>Monopoly money</option>
                </select>
              </p>
              <p>
                <label for="gender">Gender</label><br />
                <input type="radio" id="Male" value="Male"
                       v-model="gender" name="gender" checked="checked">
                <label for="male">Male</label><br />
                <input type="radio" id="Female" value="Female"
                       v-model="gender" name="gender">
                <label for="male">Female</label><br />
                <input type="radio" id="None" value="None"
                       v-model="gender" name="gender">
                <label for="male">Something else</label><br />
              </p>
              <h1> Click in the map! </h1>
              <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
              <div class="view-box">
                <div id="dots" v-on:click="displayOrder">                  
                    <div v-if=order.visible  v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                    T
                  </div>
                </div>
              </div>
            </form>
        </section>
        <div>
          <button v-on:click="addOrder()">Order</button>
          <div id="showOrder" v-if="showOrder">
            <h4> Order confirmation</h4>                 
            Order: {{ checkedBurgers.join(", ") }} <br />
            Name: {{ fullname }} <br />
            Email: {{ email }} <br />
            Payment method: {{ recipient }} <br />
            Gender: {{ gender }} 
          </div>
        </div>             
        </div>
      </main>
      <footer>
        <hr>
        &copy 2020 Burgers Inc
      </footer>
    </body>
</html>
