body {
    font-family: arial;
    font-size: 1.1em;
    margion: 0 auto;
}

.desc {
    font-weight: bold;
}

#select_burger {
    background-color: black;
    color: white;
}

#customer_information {
}

button:hover {
    background-color:gray;
    cursor:pointer;
}

table {
    width: 75%;
    text-align: center;
}

ul {
    text-align: left;
}

section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

button {
    margin-top: 2em;
}


