body {
    font-family: arial;
    font-size: 1.1em;
    margion: 0 auto;
}

.desc {
    font-weight: bold;
}

#select_burger {
    background-color: black;
    color: white;
    border: 2px dashed white;
    padding-left: 1.1rem;
}

#customer_information {
    border: 2px dashed black;
    padding-left: 1.1em;
}

button:hover {
    background-color:gray;
    cursor:pointer;
}

section {
    margin: 1.5em 1.2em;
}

button {
    margin-top: 2em;
    margin-bottom: 2em;
}

header {
    margin: 1.5em 1.2em;
    height: 5cm;
    overflow: hidden;
}

#header_pic{
    opacity: 0.8;
    width: 100%;
    height: auto;
}

#head_text {
    position: absolute;
    padding: 1cm 15cm;
}

ul {
    text-align: left;
}
.table_wrapper {
    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: 300px 300px 300px ;
}

.a {
    grid-column: 1 ;
}
.b {
    grid-column: 2 ;
}
.c {
    grid-column: 3 ;
}


