body {
    font-family: arial;
    font-size: 1.1em;
}

.desc {
    font-weight: bold;
}

#select_burger {
    background-color: black;
    color: white;
}

#customer_information {
    
}

button:hover {
    background-color:gray;
    cursor:pointer;
}
